body {
	background-color: black;
	padding-left:20px;
	padding-right:20px;
	margin:0 auto;
	width: 90%;
	min-height: 1360px;
	/* фон черты для страницы сайта*/
	background-color: #fff;
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACMAAAAjCAMAAAApB0NrAAAABlBMVEX///+pqalTpKl9AAAAAnRSTlMAGovxNEIAAAAdSURBVDjLY2AAAUaG4UYxDDsfjfp91O+jfqfE7wCzpQCw/dq+qQAAAABJRU5ErkJggg==");
}

.page-header {
	display:flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	background-color: #fcd05d;
	margin-left:0px;
	margin-right:0px;
	color: #333;
	padding:0 20px;
}

.head-left h1 {
	font-size:24px;
	font-family: Georgia, Tahoma, 'serif';
	color: #000;
}
.head-left h2 {
	font-size:12px;
	font-family: Georgia, Tahoma, 'serif';
	color: #000;
	font-weight: normal;
}
.head-right {
	text-align: center;
}
.head-right a {
	font-size:0.9em;
	text-decoration: none;
	color:black;
	padding-left: 5px;
	padding-right: 5px;
}
.head-right a:hover {
	text-decoration: underline;
}
.head-right a:nth-child(3) {
	border-left: 1px solid black;
	border-right: 1px solid black;
}
.head-right form {
	padding:0;
	margin-right:10px;
	height: 40px;
	background-color: #000;
	border-radius: 0 0 10px 10px;
	padding-bottom: 8px;
	margin-bottom:5px;

}
.head-right form input {
	border-radius: 7px;
	background-color: #f6bd4c;
	border: none;
	height: 25px;
	width: 165px;
	margin-top: 11px;
	margin-left: 20px;
	color: #ffa;
	padding-left: 10px;
}
.head-right form input:focus {
	color: rgba(1,1,1,1);
	font-weight: bold;
	box-shadow: 0px 0px 1px rgba(255,255,255,1),
				0px 0px 1px #2f7cc0;
	outline:transparent;
	/*outline:none; ? what more better?*/
}
.head-right form a {
	font-size: 12px;
	font-family: Georgia, Tahoma, 'serif';
	background-color: #525252;
	color: #f6bd4c;
	text-decoration: none;
	padding: 8px 8px;
	text-align:center;
	vertical-align: middle;
	border-radius: 5px;
	margin-left: 10px;
	margin-right: 15px;
}
.head-right form a :hover {
	text-decoration: underline;
}

.nav-menu {
	height: 54px;
}
.nav-menu ul {
	display:flex;
	flex-direction: columns-reverse;
	background-color: black;
	color: white;
	padding-left:10px;
	padding-right:10px;
	margin:0;
}
.nav-menu li {
	list-style-type: none;
	margin:0 auto;
	text-align: center;

}
.nav-menu a {
    flex-grow: 1;
	display:block;
	border-right:1px solid #666;
	padding:0px 10px;
	margin: 20px 0px;
	font-size: 18px;
	color: #FFF;
	text-decoration: none;
}
.nav-menu li:nth-child(1) a {
	border-left:1px solid #666;
}
.nav-menu span {
	position: relative;
	font-size: 0.8em;
	display: none;
	margin:0px;
	top:-25px;
	color:grey;
}
.nav-menu li:hover a {
	color: #f6bd4c;
}
.nav-menu li:hover span {	
	display: block;
}
.sub-menu {
	display: flex;
	flex-direction: row;
	align-items: middle;
	border:2px solid black;
	background-color: white;
}

.sub-menu a {
	padding: 3px 7px;
	margin: 2px 10px;
	

	color: black;
	text-decoration: none;
	font-size: 18px;
	border-radius: 15px;
	border:1px solid transparent;
}
.sub-menu a:hover {
	color: grey;
	border:1px solid grey;
}
.delimiter {
	margin:0 auto;
	min-height: 15px;
	background-color: #231f20;
	outline: none;
	box-shadow: 0px 0px 1px rgba(255,255,255,1),
				0px 0px 1px #2f7cc0;
}


.featured {
	margin-top: 0px;
	display:flex;
	background-color: black;
	background: linear-gradient(to bottom, #231f20 53%, #000 53%, #000  81%, #231f20 81%) no-repeat;
	outline: 1px solid #5a5657;
	outline-offset: -10px;
	padding-left: 20px;
	padding-right: 20px;
}

.featured-left img{ 
	content:"480x240px";
	margin-top: 20px;
	margin-bottom: 15px;
}

.featured-right {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	margin-top: 5px;
}

.featured-right h1 {
	font-family: Georgia, Tahoma, 'serif';
	font-size: 20px;
	font-weight: normal;
	color: #e5e5e5;
	margin:0;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-top:20px;

}
.featured-right p {
	font-family: Georgia, Tahoma, 'serif';
	font-size: 13px;
	color: #979797;
	line-height: 2;
	margin:0;
	padding:0;
	margin-left: 10px;
}
.featured-right a {
	margin-left: auto;
	margin-right: 25px;
	color: #fcd05d;
	text-decoration: none;
}
.featured-right a:hover {
	text-decoration: underline;
}
.featured-right ul  {
	display:flex;
	padding:0;
	margin: 30px auto;
	margin-left: 20px;
}

.featured-right ul li {
	outline:1px solid #545454;
	outline-offset: 5px;
	background-color: #333333;
	width: 90px;
	display: block;
	height: 60px;
	margin-right:20px;
	border:1px solid #575757;
	transition: 300ms linear;
}
/*
.featured-right ul li:hover {
	outline:4px solid darkblue;
	transition: 300ms linear;
}
*/
.homepage-content {
	display: flex;
	justify-content: space-around;
	background-color: rgba(80,12,12,0);
	padding-bottom: 10px;
	outline: 2px solid rgba(80,12,12,0.8);
	outline-offset: -2px;
}

.homepage-content .left-side {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
	width: 50%;
}
.homepage-content h1 {
	margin-left: 20px;
	font-size:16px;
	font-family: Georgia, Tahoma, 'serif';
	color:#aaa;
	border-bottom: 1px solid #aaa;	width:auto;
	padding-bottom: 10px;
	margin-right:0px;
}
.homepage-content img {
	margin-left: 20px;
	outline: 1px solid #d7dbe0;
	outline-offset: 5px;
}
.news a{
	color: #ce4521;
	font-family: Georgia, Tahoma, 'serif';
	font-size: 13px;
	text-decoration: none;
	transition: 300ms linear;
	margin-left: 20px;
	line-height: 50px;
}
.news a:hover {
	text-decoration: underline;
	transition: 300ms linear;
	color: #ceaa21;
}
	

.news div {
	/*чисто длля настройки*/
	width: 485px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.news h1 {
	border-bottom: 1px solid grey;
	width:auto;
	margin-left: 25px;
}
.news p {
	color: #ce4521;
	margin: 0 auto;
	margin-bottom: 5px;
	width: auto;
	font-family: Georgia, Tahoma, 'serif';
	font-size: 13px;
}
.news span {
	color: #979797;
	border: none;
	font-family: Georgia, Tahoma, 'serif';
	font-size: 13px;
}
.news div img{
	margin-right: 20px;
	margin-left: 35px;
}
.link-news {
	display: block;
	border-top: 1px solid grey;
	margin-left: 20px;
	margin-top: 15px;
}
.homepage-content .right-side {
	align-self: space-between;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-right: 10px;
	width: 50%;
}
.right-side a{
	color: #ce4521;
	font-family: Georgia, Tahoma, 'serif';
	font-size: 13px;
	text-decoration: none;
	transition: 300ms linear;
	margin-left: 20px;
}
.right-side a:hover {
	text-decoration: underline;
	transition: 300ms linear;
	color: #ceaa21;
}
.right-side img {
	margin-right: 10px;
}
.page-footer {
	display:flex;
	flex-grow: row;
	flex-wrap: wrap;
	justify-content: space-between;
	border-top: 5px solid #ce4521;
	background-color: #231f20;
}
.page-footer section  h1 {
	font-size:16px;
	font-family: Georgia, Tahoma, 'serif';
	font-style: italic;
	color: #fff;
	width:100%;
}

.page-footer section ul, .main-footer section li {
	padding:0;
	margin:0;
	text-decoration: none;
	list-style: none;
}  
.page-footer section  a {
	font-size:81.25%;
	font-family: Georgia, Tahoma, 'serif';
	color:#979797;
	text-decoration: none;

}
.page-footer section a:hover {
	text-decoration: underline;
}

.page-footer .first-colum, .second-colum {
	margin-left: 2%;
	width:22%;
}
.page-footer .third-colum {
	margin-right:2%; 
	width:40%;
}

.page-footer .second-colum li:nth-child(4) {
	margin-bottom: 4%;
}
/* for see block 
.page-footer , .page-footer .first-colum, .second-colum, .third-colum {
	border:2px solid green;
} 
*/
.mpage-footer .third-colum {
	display: flex;	
	width: 40%;
	flex-wrap: nowrap;
	flex-direction: column;
	border-left: 1px solid #979797;
	padding-left: 1%;
	margin-top: 1%;
	margin-right:2%;
	margin-left: 2%;
}

.page-footer .third-colum a:hover {
	text-decoration: none;
	color: #929292;
}

.page-footer .third-colum .circle svg {
	width:32px;
	border:3px solid white;
	border-radius: 50%;
	background-color:white;
	margin-left:2%;
}
.page-footer .third-colum .circle svg:hover {
	border:3px solid darkorange;
}

.page-footer .third-colum input {
	padding: 2.44827586206897% 2.44827586206897%;
	font-size: 81.25%;
	font-family: Georgia, Tahoma, 'serif';
	color: #989898;
	border-radius: 7px;
	color:black;
	font-size:91.25%;
	margin-right: 5%;
	width: 40%;
}
.page-footer .third-colum input:focus{
	box-shadow: 0px 0px 1px rgba(255,255,255,1),
				0px 0px 1px #2f7cc0;
	outline:transparent;
}
.page-footer .third-colum a {
	background-color:#fff;
	border-radius: 7px;
	padding: 2.44827586206897% 2.44827586206897%;
	color: #06213f;
	font-weight: bold;
	align-content: stretch;
	margin-right: 25%;
}

.copyright {
	display: flex;
	flex-direction:row;
	justify-content: space-between;
	color: #979797;
	font-size: 81.25%;
	font-family: Georgia, Tahoma, 'serif';
	border-top:2px solid #595758;
	padding: 0.1% 0;
	outline-offset: 2px solid darkblue;
	outline-offset: -5px;
	margin-top: 1%;
	width:100%;

}

.copyright h4 {
	margin-left:2%;
	margin-right: 2%;
}